TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION_NAME=session/fake_news_session
TELEGRAM_DEFAULT_CHANNELS=
EXTRACTION_LIMIT=25
RAW_OUTPUT_PATH=data/raw/extracted_messages.json
PREPROCESSED_OUTPUT_PATH=data/processed/preprocessed_messages.json
